section {
    margin-top: 3em;
    font-family: Arial;
    min-height: 720px;
}

.menu {
    margin-top: 3em;
}

.side-bar {
    width: 20%;
    margin-top: 2.5em;
}

.side-bar .search-bar {
    width: 100%;
    display: flex;
    background-color: white;
    border: 2px solid #9B4722;
    border-radius: 1em;
    margin-bottom: 1.5em;
}

.search-bar img {
    width: 30px;
    height: 30px;
}

.search-bar input[type="text"], .search-bar input[type="text"]:focus {
    width: 100%;
    padding: 3px;
    background-color: white;
    color: #9B4722;
    border: none;
    outline: none;
    border-radius: 1em;
}

.side-bar h5 {
    font-size: 1.4em;
}

.side-bar #product-details {
    color: #26282a;
}

.side-bar #drinks, .side-bar #desserts {
    color: #9B4722;
}

#details {
    color: #26282a;
    border-left: 2px solid #26282a;
    padding-left: 0.5em;
}

.drinks, .desserts {
    border-left: 2px solid #9B4722;
    padding-left: 0.5em;
}

.drinks input[type="radio"], .desserts input[type="radio"] {
    appearance: none;
}

.drinks input[type="radio"]+label, .desserts input[type="radio"]+label {
    text-decoration: none;
    color: #b9a37a;
    transition: color 0.3s ease, margin 0.3s ease;
    border-bottom: 2px solid white;
    cursor: pointer;
}

.drinks input[type="radio"]:hover+label,  
.drinks input[type="radio"]:checked+label, 
.desserts input[type="radio"]:hover+label,
.desserts input[type="radio"]:checked+label {
    color: #9B4722;
    text-decoration: none;
    font-weight: bold;
    margin-left: 4px;
    border-bottom: 2px solid #9B4722;
}

.drinks li {
    margin-bottom: 1em;
}

.view {
    width: 80%;
    margin-top: 2em;
}

.view .card {
    cursor: pointer;
    border: none;
    width: 15em;
    height: 15em;
    margin: 15px;
}

.view .card img {
    width: 10em;
    border-radius: 100%;
    background-color: #5C5545;
    padding: 10px;
    margin: auto;
    margin-top: 0em;
    margin-bottom: 5px;
    box-shadow: 2px 2px 5px gray;
}

.view .card h4 {
    margin: auto;
    margin-top: 10px;
    text-align: center;
    color: #26282a;
}

@media (max-width: 425px) {
    .side-bar {
        width: 0px;
    }

    .side-bar .drinks,
    .side-bar #drinks,
    .side-bar .desserts,
    .side-bar #desserts {
        display: none;
    }

    .side-bar .search-bar {
        width: 90%;
        position: fixed;
        top: 80px;
        left: 5%;
        z-index: 1;
    }
    .side-bar .details-container {
        background-color: #b9a37a;
        position: fixed;
        bottom: 0;
        left: 0;
        z-index: 1;
        width: 100%;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .details-container h5 {
        text-align: center;
    }
    .details-container #details {
        border: none;
        padding: 0;
        display: flex;
    }

    .details-container p {
        width: 150px;
        margin: auto;
    }
    .view {
        width: 100%;
    }
}
